input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

input[type=text]{
    width: 10%;
    height: 20px;
    text-align: center;
    color: white;
  }